body {
    background-color: #f4fce7;
}

header {
    margin: 20px;
}

.invullen {  
    float: left;
    background-color: #d1efe3;
    width: 60%;
    padding: 10px;
    border: 3px solid;
    border-radius: 25px;
    border-color: white;
    margin: 10px;
}

h2{
    margin-top: -25px;
    font-style: normal;
}

div.invullen > input {
    float: right;
    font-size: 15;
    width: 70%;
    border-radius: 25px;
    border-style: none;
}

div.invullen > select {
    float: right;
    font-size: 15;
    width: 70%;
    border-style: none;
}

div > button[type="submit"] {
    margin-left: 43%;
    margin-right: 50%;
    border-radius: 5px;
    border-style: solid;
    color: white;
    height: 30px;
    width: 150px;
    background-color: #8abeb2;
    border-color: #7ecdd4;
}

label {
    padding-right: 20px;
}